<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ptg.ptgchannelimpl.mapper.ClChannelCodekeyConfigMapper" >
  <resultMap id="BaseResultMap" type="com.ptg.channel.po.ClChannelCodekeyConfig" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="CODE_KEY_ID" property="codeKeyId" jdbcType="VARCHAR" />
    <result column="CHANNEL_CODE_KEY" property="channelCodeKey" jdbcType="VARCHAR" />
    <result column="CODE_KEY" property="codeKey" jdbcType="VARCHAR" />
    <result column="CODE_VALUE_ID" property="codeValueId" jdbcType="VARCHAR" />
    <result column="DEL_FLAG" property="delFlag" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, CODE_KEY_ID, CHANNEL_CODE_KEY, CODE_KEY, CODE_VALUE_ID, DEL_FLAG, CREATE_DATE, 
    UPDATE_DATE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ptg.channel.po.ClChannelCodekeyConfigExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CL_CHANNEL_CODEKEY_CONFIG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from CL_CHANNEL_CODEKEY_CONFIG
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from CL_CHANNEL_CODEKEY_CONFIG
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ptg.channel.po.ClChannelCodekeyConfigExample" >
    delete from CL_CHANNEL_CODEKEY_CONFIG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ptg.channel.po.ClChannelCodekeyConfig" >
    insert into CL_CHANNEL_CODEKEY_CONFIG (ID, CODE_KEY_ID, CHANNEL_CODE_KEY, 
      CODE_KEY, CODE_VALUE_ID, DEL_FLAG, 
      CREATE_DATE, UPDATE_DATE)
    values (#{id,jdbcType=VARCHAR}, #{codeKeyId,jdbcType=VARCHAR}, #{channelCodeKey,jdbcType=VARCHAR}, 
      #{codeKey,jdbcType=VARCHAR}, #{codeValueId,jdbcType=VARCHAR}, #{delFlag,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ptg.channel.po.ClChannelCodekeyConfig" >
    insert into CL_CHANNEL_CODEKEY_CONFIG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="codeKeyId != null" >
        CODE_KEY_ID,
      </if>
      <if test="channelCodeKey != null" >
        CHANNEL_CODE_KEY,
      </if>
      <if test="codeKey != null" >
        CODE_KEY,
      </if>
      <if test="codeValueId != null" >
        CODE_VALUE_ID,
      </if>
      <if test="delFlag != null" >
        DEL_FLAG,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="codeKeyId != null" >
        #{codeKeyId,jdbcType=VARCHAR},
      </if>
      <if test="channelCodeKey != null" >
        #{channelCodeKey,jdbcType=VARCHAR},
      </if>
      <if test="codeKey != null" >
        #{codeKey,jdbcType=VARCHAR},
      </if>
      <if test="codeValueId != null" >
        #{codeValueId,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ptg.channel.po.ClChannelCodekeyConfigExample" resultType="java.lang.Integer" >
    select count(*) from CL_CHANNEL_CODEKEY_CONFIG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update CL_CHANNEL_CODEKEY_CONFIG
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.codeKeyId != null" >
        CODE_KEY_ID = #{record.codeKeyId,jdbcType=VARCHAR},
      </if>
      <if test="record.channelCodeKey != null" >
        CHANNEL_CODE_KEY = #{record.channelCodeKey,jdbcType=VARCHAR},
      </if>
      <if test="record.codeKey != null" >
        CODE_KEY = #{record.codeKey,jdbcType=VARCHAR},
      </if>
      <if test="record.codeValueId != null" >
        CODE_VALUE_ID = #{record.codeValueId,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null" >
        DEL_FLAG = #{record.delFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null" >
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update CL_CHANNEL_CODEKEY_CONFIG
    set ID = #{record.id,jdbcType=VARCHAR},
      CODE_KEY_ID = #{record.codeKeyId,jdbcType=VARCHAR},
      CHANNEL_CODE_KEY = #{record.channelCodeKey,jdbcType=VARCHAR},
      CODE_KEY = #{record.codeKey,jdbcType=VARCHAR},
      CODE_VALUE_ID = #{record.codeValueId,jdbcType=VARCHAR},
      DEL_FLAG = #{record.delFlag,jdbcType=VARCHAR},
      CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ptg.channel.po.ClChannelCodekeyConfig" >
    update CL_CHANNEL_CODEKEY_CONFIG
    <set >
      <if test="codeKeyId != null" >
        CODE_KEY_ID = #{codeKeyId,jdbcType=VARCHAR},
      </if>
      <if test="channelCodeKey != null" >
        CHANNEL_CODE_KEY = #{channelCodeKey,jdbcType=VARCHAR},
      </if>
      <if test="codeKey != null" >
        CODE_KEY = #{codeKey,jdbcType=VARCHAR},
      </if>
      <if test="codeValueId != null" >
        CODE_VALUE_ID = #{codeValueId,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        DEL_FLAG = #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ptg.channel.po.ClChannelCodekeyConfig" >
    update CL_CHANNEL_CODEKEY_CONFIG
    set CODE_KEY_ID = #{codeKeyId,jdbcType=VARCHAR},
      CHANNEL_CODE_KEY = #{channelCodeKey,jdbcType=VARCHAR},
      CODE_KEY = #{codeKey,jdbcType=VARCHAR},
      CODE_VALUE_ID = #{codeValueId,jdbcType=VARCHAR},
      DEL_FLAG = #{delFlag,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>